
<div class="container">
    <img src="{{currentUser.image}}" alt="{{currentUser.username}}'s icon" width="400px">
    <form action="/change/image/{{currentUser.username}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <br>
        <button type="submit">CHANGE PROFILE'S IMAGE</button>
    </form>    
    {{#if imageMessage}} <p>{{imageMessage}}</p> {{/if}}
</div>
<br>
<div class="container">
    <a href="/change/username">CHANGE USERNAME</a>
</div>
{{#if usernameMessage}} <p>{{usernameMessage}}</p> {{/if}}
<br>
{{#unless currentUser.googleID}}
<div class="container">
    <a href="/change/password">CHANGE PASSWORD</a>
</div>
{{#if message}} <p>{{message}}</p> {{/if}}
<br>
{{/unless}}
<div class="container">
    <form action="/deleteAccount/{{currentUser.id}}" method="POST">
        <button type="submit" id="btn2">DELETE ACCOUNT</button>
    </form>
</div>




