<br>
<h1>Welcome to the home &#128516</h1>
<br>
<div class="container">
    <form action="/home" method="POST">
        <h3>{{currentUser.username}}</h3>
        <input type="text" name="creator" value="{{currentUser.id}}" hidden>
        <input type="text" minlength="1" maxlength="240" name="content" placeholder="What are you thinking?" size="100">
        <input type="file" name="media">
        <button type="submit">POST</button>
    </form>
</div>
<br>
<div class="container">
    <h3>POSTS:</h3>
    {{#each posts as | post |}}
        <div class="post" data-id="{{post.id}}">
            <img src="{{post.creator.image}}" alt="{{post.creator.username}}'s icon" width="40">        
            <h5>{{post.creator.username}}</h5>
            <p>{{post.content}}</p>
            {{#if post.media}}<img src="{{post.media}}" alt="Media uploaded">{{/if}}
            {{#if post.sameOwner}} <a class="remove" data-id="{{post.id}}">Delete</a>{{/if}}        
        </div>
    {{/each}}
</div>


<script>
  const removeNodes = document.querySelectorAll('.remove');
  for(let node of removeNodes) {
    node.addEventListener('click', () => {
      const nodeId = node.dataset.id;
      axios.delete(`/home/deletePost/${nodeId}`)
        .then(responseFromApi => {
          console.log('Success!', responseFromApi);
          if(responseFromApi.status == 204) {
            document.querySelector(`.post[data-id="${nodeId}"]`).remove();
          }
        })
        .catch(error => console.log('Error!', error))
    })
  }
</script>