<div class="dinamic-view-container">
    {{#if notifications}}
        <h2>Notifications</h2>
            <div>
                {{#each notifications as |not|}}
                    <div class="not-container">
                        <img class="image-cover-small" src="{{not.sender.image}}">
                        <p>
                            {{#if not.newLike}} {{not.sender.username}} {{not.newLike}} {{/if}}
                            {{#if not.newFollow}} {{not.sender.username}} {{not.newFollow}} {{/if}}
                            {{#if not.newComment}} {{not.sender.username}} {{not.newComment}} {{/if}}
                            {{#if not.newMessage}}{{not.sender.username}} {{not.newMessage}} {{/if}}
                        </p>
                    </div>
                {{/each}}
            </div>
    {{else}}
        <h2>No notifications yet &#128528</h2>
    {{/if}}
</div>