<div class="dinamic-view-container">
    <h2 id="h2-msg">Messages</h2>
    <div id="messages" class="control-scroll">
        {{#if msgs}}
            {{#each msgs as |msg|}}
                <div class="msg">
                    <img class="image-cover-medium" src="{{msg.sender.image}}" alt="{{msg.sender.username}}'s' icon">
                    <div class="content-msg">
                        <p>{{msg.msg}}</p>
                        <span class="small-date">{{msg.hour}}</span>
                    </div>                    
                </div>
            {{/each}}
        {{/if}}
    </div>
        <form id="msgForm">
            <div class="div-form">
                <input id="text-input" type="text" name="msg" placeholder="   Type something...">
                <input id="input-username" type="text" value="{{username}}" class="hidden">
            </div>        
            <button id="btn-send" class="emit-notification btn-send-msg">Send</button>
        </form>
</div>

<script>
    const btnSendMsg = document.getElementById('btn-send');
    const usernameInput = document.getElementById('input-username');
    const username = usernameInput.value;

    const receiverUsername = `${username}`;
    senderUsername = '{{currentUser.username}}';
    const messages = document.getElementById('messages');
    const msgForm = document.getElementById('msgForm');

    btnSendMsg.addEventListener('click', (e) => {
        e.preventDefault()
        const textInput = document.getElementById('text-input').value;

        const options = {
            method: 'post',
            url: `/message/${username}`,
            data: {
                msg: textInput,
            }
        };

        if(!textInput.length == 0) {
            axios(options)
            .then(response => {
                socket.emit('chatmessage', msgForm.msg.value, receiverUsername);
                msgForm.msg.value = '';
            })
            .catch(error => console.log('Error!', error))
        }        
    });
</script>