<div class="dinamic-view-container">
    {{#if following}}
        <h2>Following</h2>
        <div>
            <button class="btn btn-outline-secondary btn-sm" type="button">
                <a href="/profile/{{following.username}}">Back</a>
            </button>
        </div>
        <div class="search-list-container">
            {{#each following as |following|}}
                <a href="/profile/{{following.following.username}}">
                    <div class="seach-user-container">
                        <img src="{{following.following.image}}" class="image-cover-medium">
                        <div>
                            <p class="search-name">{{following.following.name}}</p>
                            <p class="search-username">{{following.following.username}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        <h2>No Capybaras found &#128528</h2>
    {{/if}}
</div>