<div class="dinamic-view-container">
    {{#if followers}}
        <h2>Followers</h2>
        <div class="search-list-container">
            {{#each followers as |follower|}}
                <a href="/profile/{{follower.follower.username}}">
                    <div class="seach-user-container">
                        <img src="{{follower.follower.image}}" class="image-cover-medium">
                        <div>
                            <p class="search-name">{{follower.follower.name}}</p>
                            <p class="search-username">{{follower.follower.username}}</p>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        <h2>No Capybaras found &#128528</h2>
    {{/if}}
</div>