{{#if posts}}
    <h1>Posts liked by {{username}}:</h1>
    <div class="container">
       {{#each posts as | post |}}
            <div class="post" data-id="{{post.id}}">
                <img src="{{post.like.creator.image}}" alt="{{post.like.creator.image}}'s icon" width="50">            
                <h5>{{post.like.creator.username}}</h5>
                <p>{{post.like.content}}</p>
                {{#if post.like.media}}<img src="{{post.like.media}}" alt="Media uploaded">{{/if}}    
            </div>
        {{/each}}
    </div>
{{else}}
    <h1>No Capybaras found &#128528</h1>
{{/if}}