<div class="dinamic-view-container">
    {{#if posts}}
        <h2>Posts liked by {{username}}</h2>
            <div>
                {{#each posts as | post |}}
                    <div class="post-container post" data-id="{{post.id}}">
                        <div class="post-user-container">
                            <a class="user-img-post">
                                <img class="image-cover-medium" src="{{post.like.creator.image}}">
                            </a>
                            <div class="post-content">
                                <h5>{{post.like.creator.username}}</h5>
                                <p>{{post.like.content}}</p>
                                {{#if post.like.media}}<img src="{{post.like.media}}" alt="Media uploaded" width="100px">{{/if}}
                                {{#if post.like.gif}}<img src="{{post.like.gif}}" alt="Gif uploaded" width="100px">{{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
    {{else}}
        <h2>No posts liked yet &#128528</h1>
    {{/if}}
</div>