<div class="dinamic-view-container">
    {{#if users}}
        <h2>Capybaras found</h2>
        <div class="search-list-container">
            {{#each users as |user|}}
                <a href="/profile/{{user.username}}">
                    <div class="seach-user-container">
                        <img src="{{user.image}}" class="image-cover-medium">
                        <div>
                            <p class="search-name">{{user.name}}</p>
                            <p class="search-username">{{user.username}}</p>
                        </div>             
                    </div>
                </a>
            {{/each}}
        </div>
    {{else}}
        <h2>No Capybaras found &#128528</h2>
    {{/if}}
</div>