{{#if active}}
    <div class="dinamic-view-container">
        <h2>{{user.name}}'s profile</h2>
        <div class="profile-container">
            <div id="green-background"></div>
            <div class="profile-division">
                <div class="image-division">
                    <img src="{{user.image}}" class="image-cover-large">
                    <h4 id="profile-username">{{user.username}}</h4>
                    <div id="joined-on-container">
                        <img src="/images/calendar-icon.png" width="20px" height="20px">
                        <p>Joined BeCapy on {{user.joinedDate}}</p>
                    </div>
                </div>
                <div class="profile-message-division">
                    {{#unless itsMeMario}}
                        <a class="profile-btn" href="/message/{{user.username}}">Message</a>
                    {{#if imFollower}}
                        <a class="btn-follow following profile-btn" data-username="{{user.username}}">Unfollow</a>      
                    {{else}}        
                        <a class="btn-follow unfollowing emit-notification profile-btn" data-username="{{user.username}}">Follow</a>
                    {{/if}}
                    {{/unless}}
                </div>
            </div>
        </div>
        <div class="profile-likes-container"> 
            <div>
                <a href="/profile/{{user.username}}/likes">Likes</a>
            </div>
            <div>
                <a href="/following/{{user.username}}"><ins id="followingCount">{{followingCount}}</ins> Following</a>
            </div>
            <div>
                <a href="/followers/{{user.username}}"><ins id="followersCount">{{followersCount}}</ins> Followers</a>
            </div>
        </div>
        <div class="post-container post" data-id="{{post.id}}">>
        {{#each posts as | post |}}
                <div class="post-user-container">
                    <a class="user-img-post" href="/profile/{{post.creator.username}}">
                        <img class="image-cover-medium" src="{{post.creator.image}}" alt="{{post.creator.username}}'s icon" width="40">
                    </a>
                    <div class="post-content">
                        <h5>{{post.creator.username}}</h5>
                        <p>{{post.content}}</p>
                        {{#if post.media}}<img src="{{post.media}}" alt="Media uploaded" width="400px">{{/if}}
                        {{#if post.gif}}<img src="{{post.gif}}" alt="Gif uploaded" width="100px">{{/if}}
                    </div>
                </div>

                <div class="post-actions">  
                    <div class="like-comment-container">
                    <div>
                        {{#if post.alreadyLiked}}
                        <a class="btn-like liked" data-id="{{post.id}}"><img class="img-liked" width="20px" src="/images/Like-icon.png" alt="Unlike icon"></a>
                        {{else}}
                        <a class="btn-like unliked emit-notification" data-id="{{post.id}}" data-receiver="{{post.creator.username}}"><img class="img-unliked" width="20px" src="/images/Unlike-icon.png" alt="Like icon"></a>
                        {{/if}}
                        <a href="/post/{{post.id}}/likes" class="likesCount-{{post.id}} likes-count">{{post.likesCount}}</a>
                    </div>             
                    
                    <div>
                        <a href="/comments/{{post.id}}" class="btn-comment" data-id="{{post.id}}"><img width="20px" src="/images/Comment-icon.png" alt="Comment icon"></a>
                        <ins id="commentsCount" class="comments-count">{{post.commentsCount}}</ins>
                    </div>
                    </div>              
                    {{#if post.sameOwner}} <a class="remove" data-id="{{post.id}}"><img width="20px" src="/images/Trash-icon.png" alt=""></a>{{/if}}
                </div>         
        {{/each}}
    </div>    
    {{else}}
    <div id="profile-container">
        <h1>No Capybaras found &#128528</h1>
    </div>
{{/if}}

<script>
    const btnFollow = document.querySelector('.btn-follow');
    const followersCount = document.getElementById('followersCount');
    const followingCount = document.getElementById('followingCount');

        btnFollow?.addEventListener('click', () => {
            const dataUsername = btnFollow.dataset.username;

            axios.put(`/follow/${dataUsername}`)
            .then(responseFromApi => {
                console.log('Success!', responseFromApi);
                if(responseFromApi.status == 204) {
                    if (btnFollow.textContent === 'Follow') {
                    btnFollow.textContent = 'Unfollow';
                    btnFollow.classList.remove('unfollowing');
                    btnFollow.classList.add('following');
                    followersCount.textContent = Number(followersCount.textContent) + 1;
                    //NOTIFICATION
                    socket.emit('notification', dataUsername);
                    } else {
                    btnFollow.textContent = 'Follow';
                    btnFollow.classList.remove('following');
                    btnFollow.classList.add('unfollowing');
                    followersCount.textContent = Number(followersCount.textContent) - 1;
                    }
                }
            })
            .catch(error => console.log('Error!', error))
        });

    const removeNodes = document.querySelectorAll('.remove');
    for(let node of removeNodes) {
        node?.addEventListener('click', () => {
        const nodeId = node.dataset.id;
        axios.delete(`/home/deletePost/${nodeId}`)
            .then(responseFromApi => {
            console.log('Success!', responseFromApi);
            if(responseFromApi.status == 204) {
                document.querySelector(`.post[data-id="${nodeId}"]`).remove();
            }
            })
            .catch(error => console.log('Error!', error))
        })
    }
</script>