{{#if active}}
    <h1>{{user.name}}'s profile</h1>
    <div class="container">
        <img src="{{user.image}}" alt="{{user.username}}'s icon" width="200">
        <h3>{{user.username}}</h3>
        <p>Joined BeCapy on {{user.joinedDate}}</p>
        {{#unless itsMeMario}}
            {{#if imFollower}}
                <a class="btn-follow following" data-username="{{user.username}}">Unfollow</a>      
            {{else}}        
                <a class="btn-follow unfollowing" data-username="{{user.username}}">Follow</a>
            {{/if}}
        {{/unless}}
    </div>
    <br>
    <div class="d-flex justify-content-around"> 
        <div>
            <a href="/likes/{{user.username}}">Likes</a>
        </div>
        <div>
            <a href="/following/{{user.username}}">Following: <ins id="followingCount">{{followingCount}}</ins></a>
        </div>
        <div>
            <a href="/followers/{{user.username}}">Followers: <ins id="followersCount">{{followersCount}}</ins></a>
        </div>
    </div>
    <br>
    <div class="container">
        <h3>POSTS:</h3>
        {{#each posts as | post |}}
            <div class="post" data-id="{{post.id}}">
                <img src="{{../user.image}}" alt="{{../user.username}}'s icon" width="50">            
                <h5>{{post.creator.username}}</h5>
                <p>{{post.content}}</p>
                {{#if post.media}}<img src="{{post.media}}" alt="Media uploaded">{{/if}}
                {{#if post.sameOwner}} <a class="remove" data-id="{{post.id}}">Delete</a>{{/if}}     
            </div>
        {{/each}}
    </div>
 {{else}}
  <h1>No Capybaras found &#128528</h1>  
{{/if}}

<script>
    const btnFollow = document.querySelector('.btn-follow');
    const followersCount = document.getElementById('followersCount');
    const followingCount = document.getElementById('followingCount');

        btnFollow?.addEventListener('click', () => {
            const dataUsername = btnFollow.dataset.username;

            axios.put(`/follow/${dataUsername}`)
            .then(responseFromApi => {
                console.log('Success!', responseFromApi);
                if(responseFromApi.status == 204) {
                    if (btnFollow.textContent === 'Follow') {
                    btnFollow.textContent = 'Unfollow';
                    btnFollow.classList.remove('unfollowing');
                    btnFollow.classList.add('following');
                    followersCount.textContent = Number(followersCount.textContent) + 1;
                    } else {
                    btnFollow.textContent = 'Follow';
                    btnFollow.classList.remove('following');
                    btnFollow.classList.add('unfollowing');
                    followersCount.textContent = Number(followersCount.textContent) - 1;
                    }
                }
            })
            .catch(error => console.log('Error!', error))
        });

    const removeNodes = document.querySelectorAll('.remove');
    for(let node of removeNodes) {
        node?.addEventListener('click', () => {
        const nodeId = node.dataset.id;
        axios.delete(`/home/deletePost/${nodeId}`)
            .then(responseFromApi => {
            console.log('Success!', responseFromApi);
            if(responseFromApi.status == 204) {
                document.querySelector(`.post[data-id="${nodeId}"]`).remove();
            }
            })
            .catch(error => console.log('Error!', error))
        })
    }
</script>