<h1>{{user.name}}'s profile</h1>
<div class="container">
    <img src="{{user.image}}" alt="{{user.username}}'s icon" width="200">
    <h3>{{user.username}}</h3>
    <p>Joined BeCapy on {{user.joinedDate}}</p>
</div>
<br>
<h3>Files | Likes | Following | Followers</h2>
<br>
<div class="container">
    <h3>POSTS:</h3>
    {{#each posts as | post |}}
        <div class="post" data-id="{{post.id}}">
            <img src="{{../user.image}}" alt="{{../user.username}}'s icon" width="50">            
            <h5>{{post.creator}}</h5>
            <p>{{post.content}}</p>
            {{#if post.media}}<img src="{{post.media}}" alt="Media uploaded">{{/if}}
            {{#if post.sameOwner}} <a class="remove" data-id="{{post.id}}">Delete</a>{{/if}}        
        </div>
    {{/each}}
</div>
