<div class="dinamic-view-container">
    {{#if posts}}
    <h2>Latest posts</h2>
    <div>
        {{#each posts as | post |}}
                <div class="post-container post" data-id="{{post.id}}">
                    <a href="/profile/{{post.creator.username}}">
                        <div class="post-user-container">
                            <div>
                                <img class="image-cover-medium" src="{{post.creator.image}}">
                            </div>
                            <div class="post-content">
                                <div class="div-date">
                                    <h5>{{post.creator.username}}</h5>
                                    <span class="small-date">{{post.hour}}</span>
                                </div>
                                <p>{{post.content}}</p>
                                {{#if post.media}}<img src="{{post.media}}" alt="Media uploaded" width="200px">{{/if}}
                                {{#if post.gif}}<img src="{{post.gif}}" alt="Gif uploaded" width="200px">{{/if}}
                            </div>
                        </div>
                    </a>
                </div>
        {{/each}}
    </div>
    {{else}}
        <h2>No posts liked yet &#128528</h1>
    {{/if}}
</div>