<div class="dinamic-view-container">
    {{#if people}}
    <h2>Post's likes</h2>
    <div class="search-list-container">
        {{#each people as |user|}}            
            <a href="/profile/{{user.userWhoLikes.username}}">
                <div class="seach-user-container">
                    <img src="{{user.userWhoLikes.image}}" alt="{{user.userWhoLikes.username}}'s icon" class="image-cover-medium">
                    <div>
                        <p class="search-name">{{user.userWhoLikes.name}}</p>
                        <p class="search-username">{{user.userWhoLikes.username}}</p>
                    </div>
                </div>
            </a>        
        {{/each}}
    </div>
    {{else}}
        <h1>No one liked this post yet &#128528</h1>
    {{/if}}
</div>
